.footer {
  position: relative; /* allow spanning full viewport */
  left: 50%;
  right: 50%;
  margin-left: -50vw; /* pull to screen left edge */
  margin-right: -50vw; /* pull to screen right edge */
  width: 100vw; /* full viewport width, ignoring parent padding */
  background: none;
  padding: 24px 16px;
  font-family: Satoshi;
  box-sizing: border-box;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 70px;
}

.copy {
  color: #feffe6;
  font-family: Manrope;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: center;
}

.contact {
  margin: 60px 50px 0 50px;
  color: #feffe6;
  font-size: 45px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.contactLink {
  color: #feffe6;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 10px;
}

.contactLink p {
  border-bottom: 2px solid #feffe6;
}

.contactAnchor {
  border-bottom: 2px solid #feffe6;
  text-decoration: none;
  color: inherit;
}

.footer {
  position: relative; /* allow spanning full viewport */
  left: 50%;
  right: 50%;
  margin-left: -50vw; /* pull to screen left edge */
  margin-right: -50vw; /* pull to screen right edge */
  width: 100vw; /* full viewport width, ignoring parent padding */
  background: none;
  padding: 24px 16px;
  font-family: Satoshi;
  box-sizing: border-box;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 70px;
}

.copy {
  color: #feffe6;
  font-family: Manrope;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: center;
}

.contact {
  margin: 60px 50px 0 50px;
  color: #feffe6;
  font-size: 45px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.contactLink {
  color: #feffe6;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 10px;
  p {
    border-bottom: 2px solid #feffe6;
  }
}
