.footer {
  width: 100%;
  background: #88b2ec;
  padding: 24px 16px;
  font-family: Satoshi;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 12px;
}

.copy {
  display: flex;
  color: #feffe6;
  font-family: Manrope;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  align-items: center;
  margin: 15px 0;
}

.contact {
  margin: 40px 0 15px 15px;
  color: #feffe6;
  font-size: 50px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}
