.footer {
  width: 100%;
  background: #88b2ec;
  padding: 24px 16px;
  font-family: Satoshi;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 70px;
}

.copy {
  color: #feffe6;
  font-family: Manrope;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: center;
}

.contact {
  margin: 60px 0 0 50px;
  color: #feffe6;
  font-size: 45px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}
