.footer {
  width: 100%;
  background: #88b2ec;
  padding: 24px 16px;
  font-family: Satoshi;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
}

.copy {
  color: #234485;
  font-size: 14px;
  font-weight: 600;
}

.contact {
  color: #feffe6;
  font-size: 50px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}
