.label {
  color: #000;
  text-align: right;
  font-family: 'Roboto Condensed';
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: fit-content;
  display: flex;
  padding: 21px 25px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 12px;
  border: 1.5px solid #000;
}
