.mockup {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  flex-shrink: 0;
}

.image1 {
  width: 50%;
  height: auto;
  display: block;
  object-fit: contain;
  flex-shrink: 0;
}

.image2 {
  width: 50%;
  height: auto;
  display: block;
  object-fit: contain;
}
