.mockup {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.moreMockup {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.image1,
.image2 {
  width: 100%;
  height: auto;
  display: block;
  object-fit: contain;
  max-width: auto;
  max-height: auto;
}
