.mockup {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 15px;
  width: 100%;
}

.image1,
.image2,
.image3,
.image4 {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  aspect-ratio: 4 / 3;
  border-radius: 15px;
}

/* 위쪽 왼쪽 그래픽 */
.graphicTopLeft {
  position: absolute;
  top: -45px;
  left: -40px;
  z-index: 10;
  pointer-events: none;
  display: flex;
  align-items: flex-start;
}

.star {
  width: 50px;
  height: 50px;
  display: block;
  flex-shrink: 0;
}

/* 화면 넓이에 따라 선 길이 증가, 2370px 이후로는 고정 */
.dashedLineTopLeft {
  position: absolute;
  top: 24px;
  left: 60px;
  width: 1215px;
  border-top: 2.5px dashed #000;
}

/*.dashedLineTopLeft::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  border-left: 2px dashed #000;
}*/

/* 아래쪽 오른쪽 그래픽 */
.graphicBottomRight {
  position: absolute;
  bottom: -45px;
  right: -40px;
  z-index: 10;
  pointer-events: none;
  display: flex;
  align-items: flex-end;
  flex-direction: row-reverse;
}

/* 화면 넓이에 따라 선 길이 증가, 2370px 이후로는 고정 */
.dashedLineBottomRight {
  position: absolute;
  bottom: 23px;
  right: 60px;
  width: 100vw;
  max-width: 1450px;
  border-top: 2.5px dashed #000;
}

/*.dashedLineBottomRight::after {
  content: '';
  position: absolute;
  bottom: 23px;
  right: 60px;
  width: 1230px;
  border-top: 2.5px dashed #000;
}*/
