.mockup {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: flex-start;
  gap: 10px;
}

.image1 {
  height: auto;
  display: block;
  object-fit: contain;
  flex-shrink: 0;
}

.image2 {
  height: auto;
  display: block;
  object-fit: contain;
}

.image3 {
  height: auto;
  display: block;
  object-fit: contain;
}

.image4 {
  height: auto;
  display: block;
  object-fit: contain;
}
