.logo {
  width: 90px;
  height: 66px;
  flex-shrink: 0;
}

.navLayout {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
}

.designName {
  margin-left: 16px;
  font-weight: 700;
  color: #234485;
  font-family: Satoshi;
}
