.navButtons {
  display: flex;
  gap: 30px;
  margin: 20px;
}

.navButton {
  background: none;
  border: none;
  color: #234485;
  text-align: center;
  font-family: Satoshi;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
