.logo {
  width: 63px;
  height: 46px;
  flex-shrink: 0;
}

.navLayout {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
  margin: 15px;
}

.designName {
  font-weight: 700;
  color: #234485;
  font-family: Satoshi;
  font-size: 16px;
}
