.navLayoutButtons {
  display: flex;
  flex-direction: row-reverse;
  gap: 15px;
  box-sizing: border-box;
}

.navLayout {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 64px;
  padding: 10px 30px 15px;
  box-sizing: border-box;
  background: rgba(255, 249, 243, 0.5);
}
