.navButtons {
  display: flex;
  gap: 20px;
  justify-content: center;
  width: auto;
  padding: 15px 30px;
  border-radius: 10px;
  border: 2px solid #0f0f0e;
  background: #f4f4f4;
  box-shadow: 2px 4px 0 0 #0f0f0e;
}
