.navButton {
  display: flex;
  gap: 20px;
  justify-content: center;
  width: auto;
  padding: 13px 25px;
  border-radius: 10px;
  border: 2px solid #0f0f0e;
  background: #f4f4f4;
  box-shadow: 2px 4px 0 0 #0f0f0e;

  color: var(--Black, #0f0f0e);
  text-align: center;
  font-family: 'Alfa Slab One';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
}
