.projectName {
  color: #000;
  text-align: right;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.projectflame {
  height: auto;
  width: 100%;
}
