.projectName {
  color: #000;
  text-align: right;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.projectframe {
  height: auto;
  width: 100%;
  gap: 5px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  text-decoration: none;
  color: inherit;
}

.projectImg {
  width: 100%;
  aspect-ratio: 6 / 4;
  display: block;
  overflow: hidden;
}

.projectImg img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover; /* crop to fill the frame */
  object-position: center;
}
