.page {
  background: var(--Background, #fff9f3);
  min-height: 100vh;
  padding: 64px 80px 0 80px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 120px;
  margin-bottom: 100px;
}

.titleSection h1 {
  color: #000;
  font-family: 'Alfa Slab One';
  font-size: 70px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 80px */
}

.titleSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.subTitle h2 {
  color: var(--Foundation-Blue-Normal, #000);
  text-align: right;
  font-family: 'Akira Expanded';
  font-size: 48px;
  font-style: normal;
  font-weight: 800;
  line-height: 99.468%; /* 47.745px */
}

.subTitle p {
  color: #000;
  text-align: right;
  font-family: 'Roboto Condensed';
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: 99.468%; /* 23.872px */
  margin: 0;
}

.subTitle {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 8px;
}

.nextProjectLink:link,
.nextProjectLink:visited,
.nextProjectLink:hover,
.nextProjectLink:active {
  text-decoration: none !important;
}

.nextProjectLink * {
  text-decoration: none !important;
  align-items: flex-end;
}

.nextProjectButton {
  margin: 90px 0 0 0;
}
