.summary {
  background: var(--Background, #fff9f3);
  padding: 1rem 0;
  font-family: 'Roboto Condensed';
}

.title {
  display: inline-block;
  color: #000;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 132%;
  margin: 0 0 0.75rem 0;
  border-bottom: 1px solid #000;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.listItem {
  color: #6b6b6b;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.5;
}
