.app {
  height: auto;
  background: linear-gradient(180deg, #fff 0%, #f3f7fd 26.91%, #88b2ec 100%);
}

.landing-image {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh; /* full viewport height */
  overflow: hidden; /* hide cropped parts */
}

.landing-image img {
  width: 100%;
  height: 100%;
  object-fit: contain; /* ensure the entire image is visible (no cropping) */
  object-position: center;
  display: block; /* remove inline whitespace */
}
