.label {
  color: #000;
  text-align: right;
  font-family: 'Roboto Condensed';
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: fit-content;
  display: flex;
  padding: 14px 25px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 12px;
  border: 1.5px solid #000;
  filter: drop-shadow(5px 7px 6px rgba(0, 0, 0, 0.5));
}
